<div [style.width.%]="loginSidebar.width" [style.display]="block" class="w3-sidebar w3-bar-block right-sidebar w3-animate-right">
    <app-login></app-login>
</div>
<div class="w3-top">
    <div class="w3-container w3-bar w3-white w3-padding w3-card-2 w3-white w3-opacity-min" style="letter-spacing:4px;">
        <!-- Right-sided navbar links. Hide them on small screens -->
        <a routerLink="" class="w3-bar-item w3-button ">Northview Christian Fellowship</a>
        <div class="w3-right ">
            <a class="w3-bar-item w3-button w3-hide-small w3-hide-medium" routerLink="sermons">Sermons</a>
            <a class="w3-bar-item w3-button w3-hide-small w3-hide-medium" routerLink="contact">Gallery</a>
            <a class="w3-bar-item w3-button w3-hide-small w3-hide-medium" routerLink="contact">Events</a>
            <a class="w3-bar-item w3-button w3-hide-small w3-hide-medium">Login</a>
            <div class="w3-center w3-bar-item w3-button w3-hide-large " onclick="w3_open()">☰</div>
        </div>
        <div id="demo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium">
            <a class="w3-bar-item w3-button w3-mobile" routerLink="sermons">Sermons</a>
            <a class="w3-bar-item w3-button w3-mobile" routerLink="contact">Gallery</a>
            <a class="w3-bar-item w3-button w3-mobile" routerLink="contact">Events</a>
            <a class="w3-bar-item w3-button w3-mobile">Login</a>
        </div>

    </div>
</div>
<div class="w3-container headerParralax parallax">
    <router-outlet></router-outlet>
    <div class="w3-container background-transparent-white footer">
        <div class="w3-content">
            <div class="w3-row w3-col l7 text-left">
                <h3> Featured Quote </h3>
                <div class="w3-panel w3-leftbar background-transparent-white">
                    <p class="w3-large w3-serif">
                        <i>"The biblical teaching of forgiveness and reconcilation is so radical that there are no cultures or societies that are in accord with it."</i></p>
                      <p>Pastor Roel Tabasa</p>
                </div>
            </div>
            <div class="w3-container w3-col l5">
                <h3 class="w3-row w3-right"> Follow and Subscribe: </h3>

                <div class="w3-row w3-col l12 ">
                    <a id="facebook-link" href="https://www.facebook.com/ncfcebu/" class="fa fa-social fa-facebook w3-right"></a>
                    <a id="instagram-link" href="https://www.instagram.com/ncfcebu/" class="fa fa-social fa-instagram w3-right"></a>
                    <a id="twitter-link" href="https://twitter.com/ncfcebu" class="fa fa-social fa-twitter w3-right"></a>
                    <a id="youtube-link" href="https://www.youtube.com/user/ncfcebu" class="fa fa-social fa-youtube w3-right"></a>
                    <a id="spotify-link" href="https://open.spotify.com/user/osiastedian/playlist/2G8gKulLRCsoqplqThrfya" class="fa fa-social fa-spotify w3-right"></a>
                </div>
                <p class="w3-row w3-col l12">
                    <a href="#" class="w3-col l12 w3-right-align">Northview Christial Fellowship Church</a>
                    <span class="w3-col l12 w3-right-align">All Rights Reserved.</span>
                </p>
            </div>
        </div>
    </div>
</div>