<div class="w3-display-container headerParralax parallax">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <h1 id="welcom-line" class="w3-mobile w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity ">Welcome to Northview Christian Fellowship</h1>
    </div>
    <!--<img class="w3-image w3-mobile w3-third w3-display-middle" src="assets/img/logo_bw_outerglow.png">-->
</div>
<div class="w3-content">
    <div id="intro">
        <h2 class="w3-center">
            <b>Welcome to Northview Christian Fellowship.</b>
        </h2>
        <div class="w3-row w3-padding">
            <div class="w3-twothird">
                <p class="w3-left">
                    A church that loves God and makes disciples. Mission: we take the <b style="font-family: 'Francois One', sans-serif;">W.I.D.E.R.</b> road
                </p>

                <ul class="w3-ul w3-block">
                    <li class="" *ngFor="let item of Mission">
                        <b class="w3-quarter w3-center">{{item[0]}}</b>
                        <span class="w3-rest">{{item}}</span>
                    </li>
                </ul>
            </div>
            <div class="w3-third ">
                <p>
                    <img class="img-responsive img-circle" src=""> Pastor Roel Tabasa
                </p>
                <p>
                    <img class="img-responsive img-circle" src=""> Pastor Jay Manait
                </p>
            </div>
        </div>
        <div class="w3-center">
            <button routerLink="about" id="btn-learn-more" class="w3-btn w3-red ncf-default-btn">Learn More</button>
        </div>
    </div>
</div>